---
import RootLayout from "../layouts/RootLayout.astro";

---

<RootLayout>
    <game-canvas id="primary-game-canvas" />

    <h1 style="color: red;">Hello World!</h1>

    <script src="../scripts/main.ts"></script>
</RootLayout>